body {
  background-color: aquamarine;
  color: #212121;
}

/* отменяет стили */
.list {
  list-style: none;
}

.logo {
  color: #2196f3;
}

/* Шапка */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contact-nav .link {
  color: #757575;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: #2196f3;
}

/* Секция Наши прeимущества */
.feature .text {
  color: #757575;
}

/* Секция Чем ми занимаемся */
.work .title {
  color: #ffffff;
}

/* Секция Наша команда */
.team .text {
  color: #757575;
}

/* Секция Подвал */
footer {
  color: #ffffff;
}
