:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  /* background-color: aquamarine; */
  background-color: #f5f4fa;
  color: #212121;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Отменяет стили */
.list {
  list-style: none;
}

/* Логотип */
.logo {
  color: var(--accent-color);

  font-family: Raleway, cursive;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo .header {
  color: var(--primary-text-color);
}

.logo .footer {
  color: var(--primary-white-color);
}

/* Шапка */
.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;

  text-decoration: none;
}

/* Показывает текущую страницу сайта */
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-text-color);
}

.contact-nav .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* Герой */
.hero .title {
  color: var(--primary-white-color);

  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4em;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Секция Наши прeимущества */
.feature .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
}

.feature .text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.71em;
}

/* Секция Чем ми занимаемся */
.work .title {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
}

/* Секция Наша команда */
.team {
  background-color: #f5f4fa;
}

.team .list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
}

.team .text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.19em;
}

/* Секция Подвал */
footer {
  background-color: #2f303a;

  color: var(--primary-white-color);
}

.address {
  font-size: 14px;
  line-height: 1.71em;
}

b {
  font-size: 14px;
  line-height: 1.71em;
}

/* Button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  /* font-family: inherit; для унаследования свойства кнопкой */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondery {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

/* Портфолио */
.examples-link {
  text-decoration: none;
}

.examples-descriptions {
  color: var(--primary-white-color);

  font-size: 18px;
  line-height: 1.56em;
}

.examples-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.87em;
}
